<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="about.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="to-top" class="to-top active">&uArr;</div>
    <!-- <p>
      PSG College of Technology, Coimbatore, ISO 9001:2015 certified,
      established in the year 1951 is an AICTE approved Institution affliated to
      Anna University. Many of our programmes have been accredited by
      NBA(National Board of Accreditation). Sedulous progress has been the
      hallmark of PSG TECH. The College has been in the vanguard of innovation
      in technical education, and over the years has taken giant strides and
      transformed itself into a prestigious centre for advanced studies.
      <list>
         7 th
      rank among the Best Private Engineering colleges in India(India Today) 53
      th rank among the Engineering institutions in India(NIRF) Institution is
      accredited by NAAC with 'A' Grade The College today has a student strength
      of more than 8000 with 15 Engineering and Technology departments besides
      the Computer Applications, Management Sciences, Basic Sciences and
      Humanities departments.
      </list>
      More than 500 research scholars are pursuing
      research programmes leading to Ph D / MS / M Tech degrees and the college
      is a recognized QIP centre for Postgraduate and Ph D programmes. The
      college has been the recipient of several prestigious projects and
      International funding support. The college was conferred the AUTONOMOUS
      STATUS by the University of Madras in the academic year 1978-79, which is
      continued by the Bharathiar University and subsequently by Anna
      University. The college has signed MoU with research organizations and
      industries in order to promote closer interaction with other institutions
      in the areas of technology development training of students, curriculum
      updating and development of state-of- art centres.
    </p> -->

    <!-- Images : 
    Main - https://kriya.psgtech.ac.in/images/PSG1.jpg
    img-2 - https://kriya.psgtech.ac.in/images/PSG%20-%202%20-%20edit.jpg
    img-3 -https://kriya.psgtech.ac.in/images/bridge.jpeg
    img-4 - yet to be done -->

    <div class="container mt-4 header">
      <span class="header-text">About</span>
    </div>
    <div class="content-wrapper">
      <div class="main-img parallax-div image" id ='img-1'></div>
      <div class="container about-psg-text-1 parallax-div text-container">
        <div class="container psg-wrapper">
          <div class="row">
            <div class="col title-wrapper">
              <span id="psg-title" class="title">About PSG</span>
            </div>
          </div>
          <div class="row text-wrapper">
            <span class="psg-text text"
              >PSG College of Technology, Coimbatore, ISO 9001:2015 certified,
              established in the year 1951 is an AICTE approved Institution
              affiliated to Anna University. Many of our programmes have been
              accredited by the NBA (National Board of Accreditation). Sedulous
              progress has been the hallmark of PSG TECH. The College has been
              in the vanguard of innovation in technical education, and over the
              years has taken giant strides and transformed itself into a
              prestigious centre for advanced studies.</span
            >
            <div class="text-wrapper">
              <ul class="highlight-text text">
                <li>
                  7 th rank among the Best Private Engineering colleges in
                  India(India Today)
                </li>
                <li>
                  44 th rank among the Engineering institutions in India(NIRF)
                </li>
                <li>Institution is accredited by NAAC with 'A' Grade</li>
              </ul>
            </div>
            <span class="psg-text text"
              >The College today has a student strength of more than 8000 with
              15 Engineering and Technology departments besides the Computer
              Applications, Management Sciences, Basic Sciences, and Humanities
              departments. More than 500 research scholars are pursuing research
              programmes leading to Ph.D. / MS / M Tech degrees and the college
              is a recognized QIP centre for Postgraduate and Ph.D.
              programmes.</span
            >
          </div>
        </div>
      </div>
      <div class=" parallax-div image" id="img-2"></div>
      <div class="container about-psg-text-2 parallax-div">
        <div class="container psg-wrapper">
          <div class="row text-wrapper">
            <span class="psg-text text">
              The college has been the recipient of several prestigious projects
              and international funding support. The college was conferred the
              AUTONOMOUS STATUS by the University of Madras in the academic year
              1978-79, which is continued by the Bharathiar University and
              subsequently by Anna University. The college has signed MoU with
              research organizations and industries to promote closer
              interaction with other institutions in the areas of technology
              development training of students, curriculum updating, and
              development of state-of-art centres. AICTE has awarded PSG TECH as
              BEST OVERALL INDUSTRY - LINKED ENGINEERING COLLEGE FOR MECHANICAL
              IN 2012, ECE IN 2013, TEXTILE IN 2015.
            </span>
          </div>
        </div>
      </div>
      <div class=" parallax-div image" id="img-3"></div>
      <div class="container notable-alumini-text parallax-div">
        <div class="container psg-wrapper">
          <div class="row">
            <div class="col title-wrapper">
              <span id="alumini-title" class="title">Our Notable Alumini</span>
            </div>
          </div>
          <div class="row text-wrapper">
            <ul class="alumini-text highlight-text text">
              <li>
                Mylswamy Annadurai, Director of Chandrayaan-1 and Chandrayaan-2,
                ISRO
              </li>
              <li>Shiv Nadar, Chairman and CSO of HCL Technologies</li>
              <li>Cottalango Leon, Winner of Academy Award</li>
              <li>K. Pandiarajan, founder Director of Mafoi Consultants</li>
              <li>
                Anand Chandrasekaran, Former Director of platforms and products
                - Facebook
              </li>
              <li>
                Y. S. Chowdary, Rajya Sabha Member, Former Minister of State,
                Science and Technology & Earth Sciences, Government of India
              </li>
              <li>
                Sundaram Karivardhan, Industrialist and Motorsport pioneer
              </li>
              <li>G. Ramakrishnan, Professor, Indian Institute of Science</li>
              <li>Sundar Raman, Cricket Administrator</li>
              <li>C Vijayakumar, CEO, HCL Technologies</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="kriya-poster parallax-div image"id="img-4"></div>
      <div class="container about-kriya-text parallax-div">
        <div class="container psg-wrapper">
          <div class="row">
            <div class="col title-wrapper">
              <span id="kriya-title" class="title">College's Spotlights</span>
            </div>
          </div>
          <div class="row text-wrapper">
            <ul class="highlight-text text">
              <li>Guest lecture by Mr. Jimmy Wales, Founder of Wikipedia</li>
              <li>
                Video Conference by Dr. John C Mather, Nobel Laureate, Physics –
                2006
              </li>
              <li>
                Video Conference by Dr. Alan A Watson, Prop Vice Chancellor,
                Leeds University
              </li>
              <li>
                Video Conference by Ms. Sabrina Singh, Bio-mechanist, NASA
              </li>
              <li>Video Conference by Mr. Nat.Gopalaswamy, NASA</li>
              <li>
                Video Conference by Mr. Cottalango Leon, Academy Award Winner,
                2016
              </li>
              <li>
                Video Conference by Prof. Rajkumar, George Westinghouse
                Professor,Carnegie Mellon University
              </li>
            </ul>

            <!-- Guest lecture by Mr. Jimmy Wales, Founder of Wikipedia
Video Conference by Dr. John C Mather, Nobel Laureate, Physics – 2006
Video Conference by Dr. Alan A Watson, Prop Vice Chancellor, Leeds University
Video Conference by Ms. Sabrina Singh, Bio-mechanist, NASA
Video Conference by Mr. Nat.Gopalaswamy, NASA
Video Conference by Mr. Cottalango Leon, Academy Award Winner, 2016
Video Conference by Prof. Rajkumar, George Westinghouse Professor,Carnegie Mellon University
 -->
          </div>
        </div>
      </div>
      <div class="kriya-poster parallax-div image" id="img-5"></div>
      <div class="container spotlights-text parallax-div">
        <div class="container psg-wrapper">
          <div class="row">
            <div class="col title-wrapper">
              <span id="kriya-title" class="title">Kriya 2022</span>
            </div>
          </div>
          <div class="row text-wrapper">
            <span class="kriya-text highlight-text text"
              >KRIYA - the brainchild of the Students Union, is the
              conglomeration of the erudite brains across the Indian heartland.
              It is the biggest conflux of students, industry, and academia for
              a thoroughly enriching experience. Be it the video conferencing
              from the renowned professors of MIT, NASA, Nobel Laureates, or the
              guest lecture from industry stalwarts or eminent personalities
              around the country, Kriya has it.
            </span>
          </div>

          <!-- Guest lecture by Mr. Jimmy Wales, Founder of Wikipedia
Video Conference by Dr. John C Mather, Nobel Laureate, Physics – 2006
Video Conference by Dr. Alan A Watson, Prop Vice Chancellor, Leeds University
Video Conference by Ms. Sabrina Singh, Bio-mechanist, NASA
Video Conference by Mr. Nat.Gopalaswamy, NASA
Video Conference by Mr. Cottalango Leon, Academy Award Winner, 2016
Video Conference by Prof. Rajkumar, George Westinghouse Professor,Carnegie Mellon University
 -->
        </div>
      </div>
    </div>
    <script src="about.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
